html {
    font-size: 22px;
}

body {
    color: white;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: cursive;
    text-shadow: 2px 2px 8px #b69ff5
}

a, a:visited, a:active {
    color: white;
    font-family: cursive;
    text-shadow: 2px 2px 8px #ffffff;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(193, 138, 255); 
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 189, 255, 0.438); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(53, 167, 243);
}

table, th, td, caption{
    border: 1px solid white;
    border-collapse: collapse;
    font-family: cursive;
    text-shadow: 2px 2px 8px black;
}

.button {
    color:white;
    font-size: 35px;
    font-family: cursive;
    cursor: pointer;
    border: 2px solid black;
    text-shadow: 2px 2px 8px #b69ff5;
    border-radius: 5%;
    z-index: 99;
    height: 70px;
    width: 200px;
    background: linear-gradient(180deg, rgba(20, 14, 82, 0.582), rgba(78, 21, 118, 0.582), rgba(143, 35, 175, 0.788));

    transition: background 1s ease-out, border 1s ease-out, width 1s ease-out, height 1s ease-out;
}

.button:hover {
    background: linear-gradient(180deg,rgba(37, 26, 148, 0.582), rgba(110, 31, 167, 0.582), rgba(181, 46, 222, 0.788));
    border: 3px solid white;
    height: 85px;
    width: 230px;
    transition: background 0.2s ease-out, border 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;
}

.sidebar {
    background: linear-gradient(180deg, rgb(92, 30, 173), rgb(57, 16, 110), rgb(34, 7, 69));
    border: 2px solid white;
    border-radius: 2%;
    height: 100px;
    overflow-y: scroll;
    
}

.page {
    background: linear-gradient(180deg, rgba(29, 3, 88, 0.712), rgba(106, 14, 100, 0.712), rgba(114, 0, 0, 0.687));
    position: absolute;
    top: 15px;
    left: 0px;
    overflow-y: scroll;
    height: 0px;
    border: 2px solid white;
}

.displayed {
    display: block !important;
}

.hidden {
    display: none;
}
